<div class="about">
  <div class="wrapper">
    <div class="sun">
      <img src="../../assets/sun.svg" alt="" />
    </div>
    <div class="container">
      <div class="body">
        <div class="title">About Me.</div>
        <div class="">
          I am a Software Engineer. I am very passionate about what I do
          especially when it comes to code. I have participated in several
          hackathons and won TWO of them. I love learning new things in general
          but I am always trying to learn a new technology online or from other
          people. I believe the ability to listen and communicate with others is
          one of the keys to be successful in this career.
        </div>
        <div class="what-i-do">
          <div class="sub-title">Tech Talks.</div>
          I have spoken in a few conferences and tech talks. I'm also the
          founder of the
          <a href="https://www.meetup.com/Angular-Jax-Meetup-Group/"
            >AngularJAX Meetup</a
          >
          and <a href="https://github.com/angularjax">AngularJAX Github</a>
          organization. the Beach.
        </div>

        <div class="what-i-do">
          <div class="sub-title">Helping others.</div>
          I love helping others. You can find me on
          <a href="https://stackoverflow.com/users/5262452/patricio-vargas"
            >stackoverflow</a
          >
          helping people with their questions, helping people on social media,
          or helping them land a developer job. I have also created tutorials
          for the company in which I am currently employed. The tutorials are
          diverse; some of those tutorials are on best practices, Angular, AWS
          CSS, and more.
        </div>
      </div>
    </div>
    <div class="planet-4">
      <img src="../../assets/planet4.svg" alt="" />
    </div>
    <div class="planet-2">
      <img src="../../assets/planet2.svg" alt="" />
    </div>
  </div>
</div>
