<div class="intro-page">
  <div class="wrapper">
    <div class="title">
      <span>Hi.</span>
      <span>I'm Patricio Vargas</span>
      <span>Software Engineer </span>
      <span>UX | UI </span>
    </div>
    <div class="moon">
      <img src="../../assets/moon.svg" alt="" />
    </div>
    <div class="astronaut">
      <img src="../../assets/a-satellite.svg" alt="" />
    </div>
    <div class="planet-1">
      <img src="../../assets/planet1.svg" alt="" />
    </div>
    <div class="earth">
      <img src="../../assets/earth.svg" alt="" />
    </div>
  </div>
</div>
