.intro {
  height: 100vh;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  .wrapper {
    height: 100%;
    display: flex;
    .title {
      position: absolute;
      z-index: 1;
      top: 25%;
      left: 35%;
      font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
      font-size: 72px;
      font-weight: 800;
      //opacity: 0.4;
      display: flex;
      flex-direction: column;
      justify-content: center;
      //text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }
    .moon img {
      position: absolute;
      top: 42px;
      right: 25px;
      height: 200px;
      z-index: 1;
    }
    .astronaut img {
      position: absolute;
      top: 50%;
      left: 20%;
      height: 300px;
      z-index: 1;
      animation: float 4s ease-in-out infinite;
    }

    .planet-1 img {
      position: absolute;
      top: 10%;
      left: 20%;
      height: 300px;
      z-index: 1;
    }

    .earth img {
      position: absolute;
      bottom: 10%;
      right: 4%;
      height: 400px;
      z-index: 1;
    }
  }
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-30px);
  }
  100% {
    transform: translatey(0px);
  }
}
