.intro {
  height: 100vh;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  .wrapper {
    height: 100%;
    display: flex;
    /******/
    // .stars,
    // .twinkling,
    // .clouds {
    //   position: absolute;
    //   display: block;
    //   top: 0;
    //   bottom: 0;
    //   left: 0;
    //   right: 0;
    //   width: 100%;
    //   height: 100%;
    // }

    // .stars {
    //   z-index: 0;
    //   background: #000 url("https://image.ibb.co/mjnygo/stars.png") repeat top
    //     center;
    // }

    // .twinkling {
    //   z-index: 1;
    //   background: transparent url("https://image.ibb.co/ir1DE8/twinkling.png")
    //     repeat top center;
    //   animation: move-twink-back 200s linear infinite;
    // }

    // .clouds {
    //   z-index: 2;
    //   background: transparent url("https://image.ibb.co/bT4N7T/clouds.png")
    //     repeat top center;
    //   animation: move-clouds-back 200s linear infinite;
    // }

    // @keyframes move-twink-back {
    //   from {
    //     background-position: 0 0;
    //   }
    //   to {
    //     background-position: -10000px 5000px;
    //   }
    // }

    // @keyframes move-clouds-back {
    //   from {
    //     background-position: 0 0;
    //   }
    //   to {
    //     background-position: 10000px 0;
    //   }
    // }

    #stars {
      width: 1px;
      height: 1px;
      background: transparent;
      box-shadow: 500px 326px #fff, 1756px 97px #fff, 72px 1577px #fff,
        717px 1129px #fff, 422px 1101px #fff, 1113px 1856px #fff,
        550px 269px #fff, 140px 621px #fff, 218px 1664px #fff, 1850px 593px #fff,
        1044px 1939px #fff, 865px 1431px #fff, 1845px 1946px #fff,
        1690px 1059px #fff, 999px 810px #fff, 1976px 1418px #fff,
        1225px 1259px #fff, 1732px 1713px #fff, 1309px 1417px #fff,
        923px 247px #fff, 1128px 1605px #fff, 1585px 1002px #fff,
        4px 1898px #fff, 1884px 515px #fff, 1767px 766px #fff, 337px 1118px #fff,
        1551px 458px #fff, 1667px 1025px #fff, 1668px 508px #fff,
        676px 1188px #fff, 954px 1068px #fff, 951px 978px #fff, 166px 906px #fff,
        727px 87px #fff, 1056px 174px #fff, 1168px 1331px #fff, 394px 613px #fff,
        1822px 551px #fff, 1787px 1702px #fff, 313px 1620px #fff,
        767px 1811px #fff, 1939px 746px #fff, 227px 1258px #fff,
        1311px 277px #fff, 856px 382px #fff, 1408px 76px #fff, 695px 1617px #fff,
        1794px 538px #fff, 465px 927px #fff, 1432px 696px #fff,
        1494px 1431px #fff, 1097px 1801px #fff, 1886px 597px #fff,
        841px 1152px #fff, 1315px 1897px #fff, 985px 1537px #fff,
        1941px 1884px #fff, 402px 1044px #fff, 690px 126px #fff,
        296px 1377px #fff, 1044px 1998px #fff, 156px 684px #fff,
        1705px 554px #fff, 1435px 129px #fff, 1450px 1584px #fff,
        1726px 822px #fff, 442px 64px #fff, 1845px 1601px #fff,
        1815px 755px #fff, 902px 1156px #fff, 1916px 614px #fff,
        62px 1413px #fff, 1091px 1317px #fff, 183px 49px #fff, 785px 1846px #fff,
        970px 1528px #fff, 895px 498px #fff, 13px 343px #fff, 1579px 318px #fff,
        1996px 495px #fff, 1850px 498px #fff, 1557px 1599px #fff,
        1724px 1650px #fff, 236px 1812px #fff, 1150px 756px #fff,
        1281px 1396px #fff, 1816px 49px #fff, 1740px 399px #fff,
        1997px 1224px #fff, 373px 1308px #fff, 881px 46px #fff,
        287px 1650px #fff, 1614px 1611px #fff, 557px 1134px #fff,
        544px 760px #fff, 1452px 1388px #fff, 296px 1868px #fff,
        1871px 1624px #fff, 43px 585px #fff, 1527px 588px #fff, 814px 480px #fff,
        1695px 1826px #fff, 806px 1998px #fff, 1502px 1559px #fff,
        849px 1076px #fff, 741px 215px #fff, 1323px 395px #fff,
        1927px 1902px #fff, 735px 556px #fff, 1036px 1210px #fff,
        594px 1361px #fff, 93px 136px #fff, 1888px 753px #fff, 885px 77px #fff,
        402px 1891px #fff, 1209px 1215px #fff, 1322px 1413px #fff,
        1143px 1744px #fff, 715px 1438px #fff, 227px 768px #fff,
        798px 546px #fff, 1019px 1967px #fff, 1942px 1533px #fff,
        1239px 357px #fff, 165px 784px #fff, 1144px 889px #fff, 643px 398px #fff,
        1387px 620px #fff, 438px 430px #fff, 1466px 682px #fff,
        1205px 392px #fff, 1561px 921px #fff, 459px 363px #fff,
        937px 1672px #fff, 1180px 40px #fff, 1867px 520px #fff,
        1221px 1835px #fff, 1288px 45px #fff, 199px 740px #fff, 592px 326px #fff,
        952px 607px #fff, 1974px 1670px #fff, 884px 1753px #fff,
        1358px 652px #fff, 1301px 940px #fff, 997px 638px #fff,
        677px 1099px #fff, 1415px 1467px #fff, 953px 963px #fff,
        303px 995px #fff, 1909px 12px #fff, 281px 1981px #fff, 1605px 244px #fff,
        1915px 1152px #fff, 506px 3px #fff, 1373px 995px #fff,
        1662px 1795px #fff, 853px 856px #fff, 1340px 631px #fff,
        1313px 1152px #fff, 1127px 156px #fff, 1727px 345px #fff,
        284px 357px #fff, 724px 488px #fff, 685px 1075px #fff, 927px 1718px #fff,
        872px 905px #fff, 694px 1343px #fff, 1687px 429px #fff,
        1465px 799px #fff, 1734px 630px #fff, 950px 638px #fff, 44px 358px #fff,
        571px 1729px #fff, 722px 9px #fff, 771px 378px #fff, 1336px 1488px #fff,
        1260px 297px #fff, 709px 600px #fff, 1061px 642px #fff, 527px 162px #fff,
        1298px 1955px #fff, 1434px 755px #fff, 1368px 1121px #fff,
        1004px 268px #fff, 464px 195px #fff, 1738px 1650px #fff,
        1088px 257px #fff, 1609px 1724px #fff, 942px 1905px #fff,
        838px 1818px #fff, 476px 564px #fff, 648px 812px #fff, 1478px 30px #fff,
        446px 205px #fff, 853px 921px #fff, 53px 1726px #fff, 1811px 310px #fff,
        961px 1934px #fff, 89px 1585px #fff, 716px 170px #fff, 477px 1651px #fff,
        501px 626px #fff, 309px 280px #fff, 1619px 861px #fff, 523px 1112px #fff,
        1250px 28px #fff, 661px 23px #fff, 1434px 1518px #fff, 1240px 89px #fff,
        297px 1786px #fff, 675px 1239px #fff, 576px 1189px #fff,
        1540px 421px #fff, 1224px 1282px #fff, 803px 301px #fff,
        940px 310px #fff, 1384px 1765px #fff, 432px 1642px #fff,
        878px 1847px #fff, 1884px 369px #fff, 1136px 384px #fff,
        412px 507px #fff, 1113px 1652px #fff, 1951px 1812px #fff,
        1778px 1376px #fff, 1639px 1356px #fff, 1673px 755px #fff,
        117px 64px #fff, 1365px 1918px #fff, 1327px 780px #fff,
        1440px 1900px #fff, 1701px 537px #fff, 378px 1298px #fff,
        1729px 866px #fff, 1831px 472px #fff, 1866px 1282px #fff,
        1964px 1083px #fff, 423px 1167px #fff, 1805px 775px #fff,
        1088px 1402px #fff, 1638px 1975px #fff, 1996px 555px #fff,
        1291px 211px #fff, 176px 927px #fff, 1578px 39px #fff,
        1180px 1951px #fff, 931px 1902px #fff, 966px 1580px #fff,
        602px 24px #fff, 351px 344px #fff, 1829px 1221px #fff, 1104px 756px #fff,
        549px 603px #fff, 1077px 1786px #fff, 1874px 698px #fff,
        1039px 1239px #fff, 1705px 138px #fff, 994px 1954px #fff,
        1647px 950px #fff, 189px 290px #fff, 420px 1976px #fff,
        1743px 1617px #fff, 589px 1371px #fff, 1575px 1857px #fff,
        650px 326px #fff, 774px 1656px #fff, 203px 1404px #fff, 833px 607px #fff,
        1033px 646px #fff, 1615px 131px #fff, 561px 125px #fff,
        1227px 1001px #fff, 835px 1627px #fff, 626px 326px #fff,
        693px 1207px #fff, 265px 253px #fff, 824px 463px #fff, 1424px 688px #fff,
        644px 894px #fff, 19px 1486px #fff, 335px 611px #fff, 504px 549px #fff,
        1664px 1933px #fff, 973px 152px #fff, 23px 1766px #fff,
        298px 1066px #fff, 967px 1722px #fff, 1428px 925px #fff,
        63px 1144px #fff, 449px 921px #fff, 194px 1762px #fff, 47px 1159px #fff,
        170px 1565px #fff, 941px 202px #fff, 476px 461px #fff, 549px 1635px #fff,
        692px 208px #fff, 234px 1712px #fff, 579px 1775px #fff,
        1195px 1656px #fff, 1248px 1368px #fff, 1356px 1080px #fff,
        1938px 1214px #fff, 976px 909px #fff, 1312px 1395px #fff,
        1198px 483px #fff, 31px 1694px #fff, 1174px 853px #fff, 1533px 22px #fff,
        405px 1601px #fff, 1535px 376px #fff, 287px 12px #fff, 820px 1005px #fff,
        1109px 9px #fff, 703px 1847px #fff, 777px 644px #fff, 749px 728px #fff,
        1711px 576px #fff, 188px 376px #fff, 265px 1792px #fff,
        1489px 1598px #fff, 1409px 1906px #fff, 731px 1881px #fff,
        1976px 6px #fff, 415px 1616px #fff, 1766px 1487px #fff,
        156px 1353px #fff, 285px 475px #fff, 919px 940px #fff,
        1323px 1857px #fff, 581px 848px #fff, 203px 1620px #fff,
        799px 1778px #fff, 660px 793px #fff, 1005px 984px #fff,
        1309px 881px #fff, 108px 1831px #fff, 1885px 754px #fff,
        1027px 318px #fff, 93px 337px #fff, 691px 1881px #fff,
        1350px 1766px #fff, 1437px 22px #fff, 540px 466px #fff,
        1418px 1752px #fff, 725px 1380px #fff, 1811px 475px #fff,
        609px 72px #fff, 135px 1070px #fff, 351px 54px #fff, 1781px 1784px #fff,
        52px 492px #fff, 692px 1234px #fff, 123px 1127px #fff, 40px 190px #fff,
        1452px 278px #fff, 836px 1756px #fff, 832px 235px #fff, 320px 816px #fff,
        575px 621px #fff, 460px 715px #fff, 1491px 169px #fff, 747px 1737px #fff,
        1016px 290px #fff, 1385px 967px #fff, 1141px 204px #fff,
        1285px 930px #fff, 1663px 1049px #fff, 67px 694px #fff,
        1600px 1238px #fff, 858px 526px #fff, 575px 190px #fff, 24px 1182px #fff,
        1268px 232px #fff, 300px 67px #fff, 491px 237px #fff, 235px 1324px #fff,
        471px 1269px #fff, 439px 449px #fff, 1210px 1339px #fff,
        1898px 36px #fff, 1125px 1911px #fff, 156px 1894px #fff,
        765px 951px #fff, 1071px 914px #fff, 1691px 784px #fff,
        1783px 1429px #fff, 604px 1459px #fff, 665px 90px #fff,
        1721px 1360px #fff, 1961px 756px #fff, 1170px 584px #fff,
        815px 1871px #fff, 1813px 1193px #fff, 1948px 118px #fff,
        1129px 1155px #fff, 1052px 154px #fff, 1833px 909px #fff,
        958px 622px #fff, 111px 736px #fff, 475px 201px #fff, 1947px 1050px #fff,
        952px 1631px #fff, 131px 437px #fff, 1890px 585px #fff,
        1309px 1731px #fff, 1068px 1902px #fff, 1168px 805px #fff,
        1351px 927px #fff, 1999px 864px #fff, 1232px 1239px #fff,
        1228px 1983px #fff, 1632px 36px #fff, 1476px 1692px #fff,
        605px 1061px #fff, 1269px 712px #fff, 1760px 1800px #fff,
        1826px 1216px #fff, 1386px 502px #fff, 1817px 1359px #fff,
        324px 632px #fff, 1449px 1489px #fff, 180px 1964px #fff,
        1984px 746px #fff, 269px 233px #fff, 1579px 1989px #fff,
        805px 1050px #fff, 506px 1365px #fff, 721px 1244px #fff,
        1096px 460px #fff, 1746px 1448px #fff, 767px 1620px #fff,
        1151px 1832px #fff, 601px 1537px #fff, 1170px 1797px #fff,
        1379px 721px #fff, 721px 541px #fff, 1307px 907px #fff,
        1516px 828px #fff, 611px 51px #fff, 773px 1232px #fff, 414px 410px #fff,
        940px 1463px #fff, 318px 1433px #fff, 1585px 1190px #fff,
        972px 534px #fff, 1889px 94px #fff, 1857px 1581px #fff, 167px 97px #fff,
        790px 1753px #fff, 226px 690px #fff, 190px 1692px #fff,
        1102px 1732px #fff, 1055px 1959px #fff, 1479px 1274px #fff,
        585px 951px #fff, 1267px 1005px #fff, 1971px 1359px #fff,
        1288px 78px #fff, 1787px 1954px #fff, 167px 370px #fff,
        1059px 1510px #fff, 625px 363px #fff, 1633px 109px #fff,
        506px 1488px #fff, 1976px 1685px #fff, 675px 1791px #fff,
        403px 1690px #fff, 1333px 133px #fff, 1235px 692px #fff,
        1365px 669px #fff, 1428px 225px #fff, 684px 1208px #fff,
        1994px 1987px #fff, 209px 1111px #fff, 44px 1331px #fff,
        1522px 1998px #fff, 1385px 996px #fff, 800px 1797px #fff,
        1460px 802px #fff, 181px 802px #fff, 833px 138px #fff, 306px 72px #fff,
        1925px 693px #fff, 396px 1145px #fff, 962px 1077px #fff,
        1381px 546px #fff, 1946px 1705px #fff, 651px 1601px #fff,
        685px 762px #fff, 325px 651px #fff, 1297px 249px #fff, 551px 1539px #fff,
        1276px 710px #fff, 780px 164px #fff, 91px 13px #fff, 1385px 263px #fff,
        1541px 1526px #fff, 189px 1500px #fff, 1524px 848px #fff,
        1154px 1321px #fff, 1920px 1346px #fff, 1550px 1319px #fff,
        1071px 1785px #fff, 130px 1497px #fff, 87px 1917px #fff,
        209px 574px #fff, 562px 1992px #fff, 1015px 1965px #fff,
        413px 1796px #fff, 1301px 1985px #fff, 1350px 117px #fff,
        483px 88px #fff, 1977px 1676px #fff, 484px 1467px #fff,
        1223px 1556px #fff, 1257px 265px #fff, 1392px 1426px #fff,
        675px 1000px #fff, 152px 1475px #fff, 1627px 120px #fff,
        1956px 1125px #fff, 1960px 304px #fff, 646px 1931px #fff,
        1422px 20px #fff, 168px 1840px #fff, 180px 1828px #fff, 946px 348px #fff,
        1988px 1016px #fff, 1735px 1777px #fff, 1877px 1702px #fff,
        877px 554px #fff, 649px 1014px #fff, 1588px 439px #fff,
        1473px 1600px #fff, 1296px 692px #fff, 657px 1825px #fff,
        1653px 1032px #fff, 785px 1366px #fff, 1335px 504px #fff,
        604px 1959px #fff, 1740px 1099px #fff, 872px 1091px #fff,
        1105px 1229px #fff, 577px 760px #fff, 129px 1984px #fff,
        124px 515px #fff, 667px 1692px #fff, 738px 1721px #fff, 992px 724px #fff,
        386px 72px #fff, 693px 1546px #fff, 1036px 941px #fff, 47px 279px #fff,
        1564px 383px #fff, 768px 279px #fff, 352px 383px #fff, 619px 1827px #fff,
        1599px 557px #fff, 95px 218px #fff, 1914px 1177px #fff,
        1404px 1996px #fff, 535px 1872px #fff, 435px 1256px #fff,
        1345px 35px #fff, 1827px 717px #fff, 39px 1063px #fff, 1893px 46px #fff,
        131px 85px #fff, 327px 1272px #fff, 1600px 1741px #fff, 829px 918px #fff,
        98px 1952px #fff, 1954px 1470px #fff, 317px 1690px #fff,
        744px 1685px #fff, 848px 586px #fff, 1384px 1422px #fff,
        1442px 1707px #fff, 1017px 1908px #fff, 1040px 350px #fff,
        965px 1837px #fff, 1040px 378px #fff, 103px 1234px #fff, 529px 46px #fff,
        1483px 372px #fff, 1934px 308px #fff, 1081px 1210px #fff,
        1654px 1316px #fff, 516px 1757px #fff, 590px 1825px #fff,
        1117px 1085px #fff, 1862px 1724px #fff, 1832px 24px #fff,
        997px 1321px #fff, 1010px 1993px #fff, 1482px 951px #fff,
        860px 1085px #fff, 70px 1297px #fff, 1391px 105px #fff,
        1293px 834px #fff, 805px 459px #fff, 597px 1180px #fff,
        1943px 421px #fff, 1322px 831px #fff, 1087px 702px #fff,
        1416px 554px #fff, 1384px 267px #fff, 852px 1231px #fff,
        866px 878px #fff, 1048px 1780px #fff, 444px 303px #fff, 514px 119px #fff,
        1437px 676px #fff, 1085px 775px #fff, 1970px 281px #fff,
        567px 194px #fff, 11px 1987px #fff, 652px 540px #fff, 1704px 1879px #fff,
        1735px 180px #fff, 167px 1537px #fff, 659px 76px #fff, 1369px 463px #fff,
        1130px 1111px #fff, 1920px 399px #fff, 646px 1844px #fff,
        1432px 1953px #fff, 228px 1142px #fff, 910px 1213px #fff,
        933px 1734px #fff, 531px 1358px #fff, 1867px 1737px #fff,
        1546px 1987px #fff, 1888px 1802px #fff, 1421px 330px #fff,
        531px 1043px #fff, 235px 1225px #fff, 231px 531px #fff, 793px 364px #fff,
        1726px 1371px #fff, 1331px 666px #fff, 1387px 1905px #fff,
        1058px 1860px #fff, 1832px 878px #fff, 1931px 1241px #fff,
        1491px 652px #fff, 1112px 438px #fff, 148px 729px #fff,
        1734px 1643px #fff, 654px 979px #fff, 1753px 1066px #fff,
        1912px 1570px #fff, 51px 40px #fff, 292px 142px #fff, 103px 1446px #fff,
        611px 1798px #fff, 690px 1155px #fff, 102px 1301px #fff,
        1551px 1955px #fff, 623px 952px #fff, 636px 25px #fff, 1811px 37px #fff,
        672px 412px #fff, 104px 457px #fff, 76px 1504px #fff, 985px 1116px #fff,
        128px 1030px #fff, 970px 363px #fff, 27px 1914px #fff,
        1625px 1757px #fff, 841px 1440px #fff, 325px 989px #fff,
        353px 1002px #fff, 1971px 1868px #fff, 1265px 634px #fff,
        1682px 295px #fff, 1508px 410px #fff, 620px 1026px #fff,
        1650px 1914px #fff, 1003px 1578px #fff, 1912px 848px #fff,
        27px 383px #fff, 621px 1365px #fff, 1753px 1880px #fff,
        1203px 1772px #fff, 691px 48px #fff, 1378px 628px #fff,
        1421px 1110px #fff, 1414px 348px #fff, 1468px 1965px #fff,
        875px 1934px #fff, 885px 76px #fff, 1302px 815px #fff,
        1830px 1384px #fff, 507px 1507px #fff, 998px 33px #fff,
        1792px 410px #fff, 1634px 470px #fff;
      animation: animStar 50s linear infinite;
    }
    #stars:after {
      content: " ";
      position: absolute;
      top: 1000px;
      width: 1px;
      height: 1px;
      background: transparent;
      box-shadow: 500px 326px #fff, 1756px 97px #fff, 72px 1577px #fff,
        717px 1129px #fff, 422px 1101px #fff, 1113px 1856px #fff,
        550px 269px #fff, 140px 621px #fff, 218px 1664px #fff, 1850px 593px #fff,
        1044px 1939px #fff, 865px 1431px #fff, 1845px 1946px #fff,
        1690px 1059px #fff, 999px 810px #fff, 1976px 1418px #fff,
        1225px 1259px #fff, 1732px 1713px #fff, 1309px 1417px #fff,
        923px 247px #fff, 1128px 1605px #fff, 1585px 1002px #fff,
        4px 1898px #fff, 1884px 515px #fff, 1767px 766px #fff, 337px 1118px #fff,
        1551px 458px #fff, 1667px 1025px #fff, 1668px 508px #fff,
        676px 1188px #fff, 954px 1068px #fff, 951px 978px #fff, 166px 906px #fff,
        727px 87px #fff, 1056px 174px #fff, 1168px 1331px #fff, 394px 613px #fff,
        1822px 551px #fff, 1787px 1702px #fff, 313px 1620px #fff,
        767px 1811px #fff, 1939px 746px #fff, 227px 1258px #fff,
        1311px 277px #fff, 856px 382px #fff, 1408px 76px #fff, 695px 1617px #fff,
        1794px 538px #fff, 465px 927px #fff, 1432px 696px #fff,
        1494px 1431px #fff, 1097px 1801px #fff, 1886px 597px #fff,
        841px 1152px #fff, 1315px 1897px #fff, 985px 1537px #fff,
        1941px 1884px #fff, 402px 1044px #fff, 690px 126px #fff,
        296px 1377px #fff, 1044px 1998px #fff, 156px 684px #fff,
        1705px 554px #fff, 1435px 129px #fff, 1450px 1584px #fff,
        1726px 822px #fff, 442px 64px #fff, 1845px 1601px #fff,
        1815px 755px #fff, 902px 1156px #fff, 1916px 614px #fff,
        62px 1413px #fff, 1091px 1317px #fff, 183px 49px #fff, 785px 1846px #fff,
        970px 1528px #fff, 895px 498px #fff, 13px 343px #fff, 1579px 318px #fff,
        1996px 495px #fff, 1850px 498px #fff, 1557px 1599px #fff,
        1724px 1650px #fff, 236px 1812px #fff, 1150px 756px #fff,
        1281px 1396px #fff, 1816px 49px #fff, 1740px 399px #fff,
        1997px 1224px #fff, 373px 1308px #fff, 881px 46px #fff,
        287px 1650px #fff, 1614px 1611px #fff, 557px 1134px #fff,
        544px 760px #fff, 1452px 1388px #fff, 296px 1868px #fff,
        1871px 1624px #fff, 43px 585px #fff, 1527px 588px #fff, 814px 480px #fff,
        1695px 1826px #fff, 806px 1998px #fff, 1502px 1559px #fff,
        849px 1076px #fff, 741px 215px #fff, 1323px 395px #fff,
        1927px 1902px #fff, 735px 556px #fff, 1036px 1210px #fff,
        594px 1361px #fff, 93px 136px #fff, 1888px 753px #fff, 885px 77px #fff,
        402px 1891px #fff, 1209px 1215px #fff, 1322px 1413px #fff,
        1143px 1744px #fff, 715px 1438px #fff, 227px 768px #fff,
        798px 546px #fff, 1019px 1967px #fff, 1942px 1533px #fff,
        1239px 357px #fff, 165px 784px #fff, 1144px 889px #fff, 643px 398px #fff,
        1387px 620px #fff, 438px 430px #fff, 1466px 682px #fff,
        1205px 392px #fff, 1561px 921px #fff, 459px 363px #fff,
        937px 1672px #fff, 1180px 40px #fff, 1867px 520px #fff,
        1221px 1835px #fff, 1288px 45px #fff, 199px 740px #fff, 592px 326px #fff,
        952px 607px #fff, 1974px 1670px #fff, 884px 1753px #fff,
        1358px 652px #fff, 1301px 940px #fff, 997px 638px #fff,
        677px 1099px #fff, 1415px 1467px #fff, 953px 963px #fff,
        303px 995px #fff, 1909px 12px #fff, 281px 1981px #fff, 1605px 244px #fff,
        1915px 1152px #fff, 506px 3px #fff, 1373px 995px #fff,
        1662px 1795px #fff, 853px 856px #fff, 1340px 631px #fff,
        1313px 1152px #fff, 1127px 156px #fff, 1727px 345px #fff,
        284px 357px #fff, 724px 488px #fff, 685px 1075px #fff, 927px 1718px #fff,
        872px 905px #fff, 694px 1343px #fff, 1687px 429px #fff,
        1465px 799px #fff, 1734px 630px #fff, 950px 638px #fff, 44px 358px #fff,
        571px 1729px #fff, 722px 9px #fff, 771px 378px #fff, 1336px 1488px #fff,
        1260px 297px #fff, 709px 600px #fff, 1061px 642px #fff, 527px 162px #fff,
        1298px 1955px #fff, 1434px 755px #fff, 1368px 1121px #fff,
        1004px 268px #fff, 464px 195px #fff, 1738px 1650px #fff,
        1088px 257px #fff, 1609px 1724px #fff, 942px 1905px #fff,
        838px 1818px #fff, 476px 564px #fff, 648px 812px #fff, 1478px 30px #fff,
        446px 205px #fff, 853px 921px #fff, 53px 1726px #fff, 1811px 310px #fff,
        961px 1934px #fff, 89px 1585px #fff, 716px 170px #fff, 477px 1651px #fff,
        501px 626px #fff, 309px 280px #fff, 1619px 861px #fff, 523px 1112px #fff,
        1250px 28px #fff, 661px 23px #fff, 1434px 1518px #fff, 1240px 89px #fff,
        297px 1786px #fff, 675px 1239px #fff, 576px 1189px #fff,
        1540px 421px #fff, 1224px 1282px #fff, 803px 301px #fff,
        940px 310px #fff, 1384px 1765px #fff, 432px 1642px #fff,
        878px 1847px #fff, 1884px 369px #fff, 1136px 384px #fff,
        412px 507px #fff, 1113px 1652px #fff, 1951px 1812px #fff,
        1778px 1376px #fff, 1639px 1356px #fff, 1673px 755px #fff,
        117px 64px #fff, 1365px 1918px #fff, 1327px 780px #fff,
        1440px 1900px #fff, 1701px 537px #fff, 378px 1298px #fff,
        1729px 866px #fff, 1831px 472px #fff, 1866px 1282px #fff,
        1964px 1083px #fff, 423px 1167px #fff, 1805px 775px #fff,
        1088px 1402px #fff, 1638px 1975px #fff, 1996px 555px #fff,
        1291px 211px #fff, 176px 927px #fff, 1578px 39px #fff,
        1180px 1951px #fff, 931px 1902px #fff, 966px 1580px #fff,
        602px 24px #fff, 351px 344px #fff, 1829px 1221px #fff, 1104px 756px #fff,
        549px 603px #fff, 1077px 1786px #fff, 1874px 698px #fff,
        1039px 1239px #fff, 1705px 138px #fff, 994px 1954px #fff,
        1647px 950px #fff, 189px 290px #fff, 420px 1976px #fff,
        1743px 1617px #fff, 589px 1371px #fff, 1575px 1857px #fff,
        650px 326px #fff, 774px 1656px #fff, 203px 1404px #fff, 833px 607px #fff,
        1033px 646px #fff, 1615px 131px #fff, 561px 125px #fff,
        1227px 1001px #fff, 835px 1627px #fff, 626px 326px #fff,
        693px 1207px #fff, 265px 253px #fff, 824px 463px #fff, 1424px 688px #fff,
        644px 894px #fff, 19px 1486px #fff, 335px 611px #fff, 504px 549px #fff,
        1664px 1933px #fff, 973px 152px #fff, 23px 1766px #fff,
        298px 1066px #fff, 967px 1722px #fff, 1428px 925px #fff,
        63px 1144px #fff, 449px 921px #fff, 194px 1762px #fff, 47px 1159px #fff,
        170px 1565px #fff, 941px 202px #fff, 476px 461px #fff, 549px 1635px #fff,
        692px 208px #fff, 234px 1712px #fff, 579px 1775px #fff,
        1195px 1656px #fff, 1248px 1368px #fff, 1356px 1080px #fff,
        1938px 1214px #fff, 976px 909px #fff, 1312px 1395px #fff,
        1198px 483px #fff, 31px 1694px #fff, 1174px 853px #fff, 1533px 22px #fff,
        405px 1601px #fff, 1535px 376px #fff, 287px 12px #fff, 820px 1005px #fff,
        1109px 9px #fff, 703px 1847px #fff, 777px 644px #fff, 749px 728px #fff,
        1711px 576px #fff, 188px 376px #fff, 265px 1792px #fff,
        1489px 1598px #fff, 1409px 1906px #fff, 731px 1881px #fff,
        1976px 6px #fff, 415px 1616px #fff, 1766px 1487px #fff,
        156px 1353px #fff, 285px 475px #fff, 919px 940px #fff,
        1323px 1857px #fff, 581px 848px #fff, 203px 1620px #fff,
        799px 1778px #fff, 660px 793px #fff, 1005px 984px #fff,
        1309px 881px #fff, 108px 1831px #fff, 1885px 754px #fff,
        1027px 318px #fff, 93px 337px #fff, 691px 1881px #fff,
        1350px 1766px #fff, 1437px 22px #fff, 540px 466px #fff,
        1418px 1752px #fff, 725px 1380px #fff, 1811px 475px #fff,
        609px 72px #fff, 135px 1070px #fff, 351px 54px #fff, 1781px 1784px #fff,
        52px 492px #fff, 692px 1234px #fff, 123px 1127px #fff, 40px 190px #fff,
        1452px 278px #fff, 836px 1756px #fff, 832px 235px #fff, 320px 816px #fff,
        575px 621px #fff, 460px 715px #fff, 1491px 169px #fff, 747px 1737px #fff,
        1016px 290px #fff, 1385px 967px #fff, 1141px 204px #fff,
        1285px 930px #fff, 1663px 1049px #fff, 67px 694px #fff,
        1600px 1238px #fff, 858px 526px #fff, 575px 190px #fff, 24px 1182px #fff,
        1268px 232px #fff, 300px 67px #fff, 491px 237px #fff, 235px 1324px #fff,
        471px 1269px #fff, 439px 449px #fff, 1210px 1339px #fff,
        1898px 36px #fff, 1125px 1911px #fff, 156px 1894px #fff,
        765px 951px #fff, 1071px 914px #fff, 1691px 784px #fff,
        1783px 1429px #fff, 604px 1459px #fff, 665px 90px #fff,
        1721px 1360px #fff, 1961px 756px #fff, 1170px 584px #fff,
        815px 1871px #fff, 1813px 1193px #fff, 1948px 118px #fff,
        1129px 1155px #fff, 1052px 154px #fff, 1833px 909px #fff,
        958px 622px #fff, 111px 736px #fff, 475px 201px #fff, 1947px 1050px #fff,
        952px 1631px #fff, 131px 437px #fff, 1890px 585px #fff,
        1309px 1731px #fff, 1068px 1902px #fff, 1168px 805px #fff,
        1351px 927px #fff, 1999px 864px #fff, 1232px 1239px #fff,
        1228px 1983px #fff, 1632px 36px #fff, 1476px 1692px #fff,
        605px 1061px #fff, 1269px 712px #fff, 1760px 1800px #fff,
        1826px 1216px #fff, 1386px 502px #fff, 1817px 1359px #fff,
        324px 632px #fff, 1449px 1489px #fff, 180px 1964px #fff,
        1984px 746px #fff, 269px 233px #fff, 1579px 1989px #fff,
        805px 1050px #fff, 506px 1365px #fff, 721px 1244px #fff,
        1096px 460px #fff, 1746px 1448px #fff, 767px 1620px #fff,
        1151px 1832px #fff, 601px 1537px #fff, 1170px 1797px #fff,
        1379px 721px #fff, 721px 541px #fff, 1307px 907px #fff,
        1516px 828px #fff, 611px 51px #fff, 773px 1232px #fff, 414px 410px #fff,
        940px 1463px #fff, 318px 1433px #fff, 1585px 1190px #fff,
        972px 534px #fff, 1889px 94px #fff, 1857px 1581px #fff, 167px 97px #fff,
        790px 1753px #fff, 226px 690px #fff, 190px 1692px #fff,
        1102px 1732px #fff, 1055px 1959px #fff, 1479px 1274px #fff,
        585px 951px #fff, 1267px 1005px #fff, 1971px 1359px #fff,
        1288px 78px #fff, 1787px 1954px #fff, 167px 370px #fff,
        1059px 1510px #fff, 625px 363px #fff, 1633px 109px #fff,
        506px 1488px #fff, 1976px 1685px #fff, 675px 1791px #fff,
        403px 1690px #fff, 1333px 133px #fff, 1235px 692px #fff,
        1365px 669px #fff, 1428px 225px #fff, 684px 1208px #fff,
        1994px 1987px #fff, 209px 1111px #fff, 44px 1331px #fff,
        1522px 1998px #fff, 1385px 996px #fff, 800px 1797px #fff,
        1460px 802px #fff, 181px 802px #fff, 833px 138px #fff, 306px 72px #fff,
        1925px 693px #fff, 396px 1145px #fff, 962px 1077px #fff,
        1381px 546px #fff, 1946px 1705px #fff, 651px 1601px #fff,
        685px 762px #fff, 325px 651px #fff, 1297px 249px #fff, 551px 1539px #fff,
        1276px 710px #fff, 780px 164px #fff, 91px 13px #fff, 1385px 263px #fff,
        1541px 1526px #fff, 189px 1500px #fff, 1524px 848px #fff,
        1154px 1321px #fff, 1920px 1346px #fff, 1550px 1319px #fff,
        1071px 1785px #fff, 130px 1497px #fff, 87px 1917px #fff,
        209px 574px #fff, 562px 1992px #fff, 1015px 1965px #fff,
        413px 1796px #fff, 1301px 1985px #fff, 1350px 117px #fff,
        483px 88px #fff, 1977px 1676px #fff, 484px 1467px #fff,
        1223px 1556px #fff, 1257px 265px #fff, 1392px 1426px #fff,
        675px 1000px #fff, 152px 1475px #fff, 1627px 120px #fff,
        1956px 1125px #fff, 1960px 304px #fff, 646px 1931px #fff,
        1422px 20px #fff, 168px 1840px #fff, 180px 1828px #fff, 946px 348px #fff,
        1988px 1016px #fff, 1735px 1777px #fff, 1877px 1702px #fff,
        877px 554px #fff, 649px 1014px #fff, 1588px 439px #fff,
        1473px 1600px #fff, 1296px 692px #fff, 657px 1825px #fff,
        1653px 1032px #fff, 785px 1366px #fff, 1335px 504px #fff,
        604px 1959px #fff, 1740px 1099px #fff, 872px 1091px #fff,
        1105px 1229px #fff, 577px 760px #fff, 129px 1984px #fff,
        124px 515px #fff, 667px 1692px #fff, 738px 1721px #fff, 992px 724px #fff,
        386px 72px #fff, 693px 1546px #fff, 1036px 941px #fff, 47px 279px #fff,
        1564px 383px #fff, 768px 279px #fff, 352px 383px #fff, 619px 1827px #fff,
        1599px 557px #fff, 95px 218px #fff, 1914px 1177px #fff,
        1404px 1996px #fff, 535px 1872px #fff, 435px 1256px #fff,
        1345px 35px #fff, 1827px 717px #fff, 39px 1063px #fff, 1893px 46px #fff,
        131px 85px #fff, 327px 1272px #fff, 1600px 1741px #fff, 829px 918px #fff,
        98px 1952px #fff, 1954px 1470px #fff, 317px 1690px #fff,
        744px 1685px #fff, 848px 586px #fff, 1384px 1422px #fff,
        1442px 1707px #fff, 1017px 1908px #fff, 1040px 350px #fff,
        965px 1837px #fff, 1040px 378px #fff, 103px 1234px #fff, 529px 46px #fff,
        1483px 372px #fff, 1934px 308px #fff, 1081px 1210px #fff,
        1654px 1316px #fff, 516px 1757px #fff, 590px 1825px #fff,
        1117px 1085px #fff, 1862px 1724px #fff, 1832px 24px #fff,
        997px 1321px #fff, 1010px 1993px #fff, 1482px 951px #fff,
        860px 1085px #fff, 70px 1297px #fff, 1391px 105px #fff,
        1293px 834px #fff, 805px 459px #fff, 597px 1180px #fff,
        1943px 421px #fff, 1322px 831px #fff, 1087px 702px #fff,
        1416px 554px #fff, 1384px 267px #fff, 852px 1231px #fff,
        866px 878px #fff, 1048px 1780px #fff, 444px 303px #fff, 514px 119px #fff,
        1437px 676px #fff, 1085px 775px #fff, 1970px 281px #fff,
        567px 194px #fff, 11px 1987px #fff, 652px 540px #fff, 1704px 1879px #fff,
        1735px 180px #fff, 167px 1537px #fff, 659px 76px #fff, 1369px 463px #fff,
        1130px 1111px #fff, 1920px 399px #fff, 646px 1844px #fff,
        1432px 1953px #fff, 228px 1142px #fff, 910px 1213px #fff,
        933px 1734px #fff, 531px 1358px #fff, 1867px 1737px #fff,
        1546px 1987px #fff, 1888px 1802px #fff, 1421px 330px #fff,
        531px 1043px #fff, 235px 1225px #fff, 231px 531px #fff, 793px 364px #fff,
        1726px 1371px #fff, 1331px 666px #fff, 1387px 1905px #fff,
        1058px 1860px #fff, 1832px 878px #fff, 1931px 1241px #fff,
        1491px 652px #fff, 1112px 438px #fff, 148px 729px #fff,
        1734px 1643px #fff, 654px 979px #fff, 1753px 1066px #fff,
        1912px 1570px #fff, 51px 40px #fff, 292px 142px #fff, 103px 1446px #fff,
        611px 1798px #fff, 690px 1155px #fff, 102px 1301px #fff,
        1551px 1955px #fff, 623px 952px #fff, 636px 25px #fff, 1811px 37px #fff,
        672px 412px #fff, 104px 457px #fff, 76px 1504px #fff, 985px 1116px #fff,
        128px 1030px #fff, 970px 363px #fff, 27px 1914px #fff,
        1625px 1757px #fff, 841px 1440px #fff, 325px 989px #fff,
        353px 1002px #fff, 1971px 1868px #fff, 1265px 634px #fff,
        1682px 295px #fff, 1508px 410px #fff, 620px 1026px #fff,
        1650px 1914px #fff, 1003px 1578px #fff, 1912px 848px #fff,
        27px 383px #fff, 621px 1365px #fff, 1753px 1880px #fff,
        1203px 1772px #fff, 691px 48px #fff, 1378px 628px #fff,
        1421px 1110px #fff, 1414px 348px #fff, 1468px 1965px #fff,
        875px 1934px #fff, 885px 76px #fff, 1302px 815px #fff,
        1830px 1384px #fff, 507px 1507px #fff, 998px 33px #fff,
        1792px 410px #fff, 1634px 470px #fff;
    }

    #stars2 {
      width: 2px;
      height: 2px;
      background: transparent;
      box-shadow: 396px 1709px #fff, 1914px 1303px #fff, 1207px 1193px #fff,
        438px 1901px #fff, 1045px 1940px #fff, 1930px 89px #fff,
        702px 435px #fff, 690px 547px #fff, 1171px 1120px #fff,
        1445px 1746px #fff, 1968px 1823px #fff, 397px 362px #fff,
        355px 379px #fff, 1305px 751px #fff, 587px 253px #fff, 866px 1896px #fff,
        71px 605px #fff, 433px 1779px #fff, 646px 501px #fff, 1171px 819px #fff,
        1902px 423px #fff, 1811px 1522px #fff, 2px 1187px #fff,
        499px 1509px #fff, 1297px 191px #fff, 351px 1872px #fff, 73px 75px #fff,
        567px 165px #fff, 1558px 797px #fff, 436px 829px #fff, 974px 131px #fff,
        1484px 1907px #fff, 277px 11px #fff, 497px 400px #fff, 445px 19px #fff,
        1467px 993px #fff, 1070px 478px #fff, 181px 1421px #fff,
        838px 1593px #fff, 1471px 1937px #fff, 1287px 319px #fff,
        1628px 1073px #fff, 1221px 1050px #fff, 310px 1697px #fff,
        926px 1950px #fff, 889px 1653px #fff, 177px 1741px #fff,
        1746px 153px #fff, 1366px 553px #fff, 1552px 1119px #fff,
        1528px 1878px #fff, 1473px 1456px #fff, 1204px 180px #fff,
        682px 259px #fff, 78px 164px #fff, 1144px 813px #fff, 230px 399px #fff,
        403px 1019px #fff, 452px 1337px #fff, 164px 1791px #fff,
        903px 689px #fff, 2px 1908px #fff, 1290px 443px #fff, 736px 1596px #fff,
        1849px 1598px #fff, 666px 945px #fff, 1074px 209px #fff, 52px 232px #fff,
        1473px 334px #fff, 768px 275px #fff, 1755px 27px #fff, 185px 1147px #fff,
        1143px 659px #fff, 1324px 992px #fff, 885px 294px #fff,
        1549px 321px #fff, 762px 1010px #fff, 688px 1599px #fff,
        1498px 430px #fff, 87px 520px #fff, 1305px 636px #fff, 1217px 223px #fff,
        786px 176px #fff, 1048px 148px #fff, 153px 1431px #fff, 79px 778px #fff,
        783px 1494px #fff, 1305px 1735px #fff, 1416px 1371px #fff,
        452px 1768px #fff, 1444px 405px #fff, 504px 1930px #fff, 523px 89px #fff,
        1287px 1493px #fff, 1188px 1957px #fff, 160px 1918px #fff,
        1363px 1982px #fff, 1740px 1733px #fff, 678px 1997px #fff,
        1805px 572px #fff, 929px 1909px #fff, 1817px 620px #fff,
        1602px 469px #fff, 1284px 417px #fff, 1991px 906px #fff,
        1064px 231px #fff, 49px 1910px #fff, 744px 1281px #fff, 1134px 73px #fff,
        1536px 475px #fff, 1811px 1289px #fff, 845px 118px #fff,
        679px 1952px #fff, 1660px 591px #fff, 288px 291px #fff, 1712px 65px #fff,
        904px 1375px #fff, 799px 1831px #fff, 1422px 515px #fff,
        1954px 268px #fff, 998px 314px #fff, 865px 1567px #fff, 14px 1245px #fff,
        1355px 1911px #fff, 958px 76px #fff, 261px 1333px #fff,
        1970px 233px #fff, 1055px 611px #fff, 1367px 1367px #fff,
        1146px 1331px #fff, 53px 487px #fff, 392px 1880px #fff,
        850px 1255px #fff, 1082px 279px #fff, 877px 1815px #fff,
        385px 419px #fff, 116px 1713px #fff, 1243px 1230px #fff,
        267px 1636px #fff, 631px 1538px #fff, 390px 1617px #fff,
        575px 1997px #fff, 871px 1544px #fff, 1140px 77px #fff,
        596px 1297px #fff, 226px 1642px #fff, 1993px 988px #fff,
        1224px 532px #fff, 1506px 828px #fff, 830px 376px #fff, 269px 611px #fff,
        1761px 229px #fff, 367px 102px #fff, 1118px 730px #fff, 917px 40px #fff,
        884px 864px #fff, 398px 1907px #fff, 701px 807px #fff, 979px 1215px #fff,
        1392px 605px #fff, 1660px 1758px #fff, 781px 1985px #fff,
        770px 517px #fff, 613px 1248px #fff, 1990px 854px #fff, 395px 576px #fff,
        542px 1447px #fff, 395px 1854px #fff, 975px 841px #fff,
        558px 1570px #fff, 136px 1403px #fff, 1217px 919px #fff, 21px 809px #fff,
        914px 1248px #fff, 988px 240px #fff, 1981px 1538px #fff,
        296px 859px #fff, 59px 1809px #fff, 806px 1657px #fff, 188px 1153px #fff,
        1588px 886px #fff, 325px 596px #fff, 1501px 468px #fff,
        1841px 382px #fff, 1174px 601px #fff, 141px 507px #fff,
        1301px 1502px #fff, 797px 1967px #fff, 206px 1014px #fff,
        960px 383px #fff, 1256px 1854px #fff, 200px 1145px #fff,
        681px 432px #fff, 966px 1954px #fff, 1271px 1536px #fff,
        1712px 1917px #fff, 996px 1606px #fff, 748px 945px #fff,
        1790px 1522px #fff, 1647px 152px #fff;
      animation: animStar 100s linear infinite;
    }
    #stars2:after {
      content: " ";
      position: absolute;
      top: 1000px;
      width: 2px;
      height: 2px;
      background: transparent;
      box-shadow: 396px 1709px #fff, 1914px 1303px #fff, 1207px 1193px #fff,
        438px 1901px #fff, 1045px 1940px #fff, 1930px 89px #fff,
        702px 435px #fff, 690px 547px #fff, 1171px 1120px #fff,
        1445px 1746px #fff, 1968px 1823px #fff, 397px 362px #fff,
        355px 379px #fff, 1305px 751px #fff, 587px 253px #fff, 866px 1896px #fff,
        71px 605px #fff, 433px 1779px #fff, 646px 501px #fff, 1171px 819px #fff,
        1902px 423px #fff, 1811px 1522px #fff, 2px 1187px #fff,
        499px 1509px #fff, 1297px 191px #fff, 351px 1872px #fff, 73px 75px #fff,
        567px 165px #fff, 1558px 797px #fff, 436px 829px #fff, 974px 131px #fff,
        1484px 1907px #fff, 277px 11px #fff, 497px 400px #fff, 445px 19px #fff,
        1467px 993px #fff, 1070px 478px #fff, 181px 1421px #fff,
        838px 1593px #fff, 1471px 1937px #fff, 1287px 319px #fff,
        1628px 1073px #fff, 1221px 1050px #fff, 310px 1697px #fff,
        926px 1950px #fff, 889px 1653px #fff, 177px 1741px #fff,
        1746px 153px #fff, 1366px 553px #fff, 1552px 1119px #fff,
        1528px 1878px #fff, 1473px 1456px #fff, 1204px 180px #fff,
        682px 259px #fff, 78px 164px #fff, 1144px 813px #fff, 230px 399px #fff,
        403px 1019px #fff, 452px 1337px #fff, 164px 1791px #fff,
        903px 689px #fff, 2px 1908px #fff, 1290px 443px #fff, 736px 1596px #fff,
        1849px 1598px #fff, 666px 945px #fff, 1074px 209px #fff, 52px 232px #fff,
        1473px 334px #fff, 768px 275px #fff, 1755px 27px #fff, 185px 1147px #fff,
        1143px 659px #fff, 1324px 992px #fff, 885px 294px #fff,
        1549px 321px #fff, 762px 1010px #fff, 688px 1599px #fff,
        1498px 430px #fff, 87px 520px #fff, 1305px 636px #fff, 1217px 223px #fff,
        786px 176px #fff, 1048px 148px #fff, 153px 1431px #fff, 79px 778px #fff,
        783px 1494px #fff, 1305px 1735px #fff, 1416px 1371px #fff,
        452px 1768px #fff, 1444px 405px #fff, 504px 1930px #fff, 523px 89px #fff,
        1287px 1493px #fff, 1188px 1957px #fff, 160px 1918px #fff,
        1363px 1982px #fff, 1740px 1733px #fff, 678px 1997px #fff,
        1805px 572px #fff, 929px 1909px #fff, 1817px 620px #fff,
        1602px 469px #fff, 1284px 417px #fff, 1991px 906px #fff,
        1064px 231px #fff, 49px 1910px #fff, 744px 1281px #fff, 1134px 73px #fff,
        1536px 475px #fff, 1811px 1289px #fff, 845px 118px #fff,
        679px 1952px #fff, 1660px 591px #fff, 288px 291px #fff, 1712px 65px #fff,
        904px 1375px #fff, 799px 1831px #fff, 1422px 515px #fff,
        1954px 268px #fff, 998px 314px #fff, 865px 1567px #fff, 14px 1245px #fff,
        1355px 1911px #fff, 958px 76px #fff, 261px 1333px #fff,
        1970px 233px #fff, 1055px 611px #fff, 1367px 1367px #fff,
        1146px 1331px #fff, 53px 487px #fff, 392px 1880px #fff,
        850px 1255px #fff, 1082px 279px #fff, 877px 1815px #fff,
        385px 419px #fff, 116px 1713px #fff, 1243px 1230px #fff,
        267px 1636px #fff, 631px 1538px #fff, 390px 1617px #fff,
        575px 1997px #fff, 871px 1544px #fff, 1140px 77px #fff,
        596px 1297px #fff, 226px 1642px #fff, 1993px 988px #fff,
        1224px 532px #fff, 1506px 828px #fff, 830px 376px #fff, 269px 611px #fff,
        1761px 229px #fff, 367px 102px #fff, 1118px 730px #fff, 917px 40px #fff,
        884px 864px #fff, 398px 1907px #fff, 701px 807px #fff, 979px 1215px #fff,
        1392px 605px #fff, 1660px 1758px #fff, 781px 1985px #fff,
        770px 517px #fff, 613px 1248px #fff, 1990px 854px #fff, 395px 576px #fff,
        542px 1447px #fff, 395px 1854px #fff, 975px 841px #fff,
        558px 1570px #fff, 136px 1403px #fff, 1217px 919px #fff, 21px 809px #fff,
        914px 1248px #fff, 988px 240px #fff, 1981px 1538px #fff,
        296px 859px #fff, 59px 1809px #fff, 806px 1657px #fff, 188px 1153px #fff,
        1588px 886px #fff, 325px 596px #fff, 1501px 468px #fff,
        1841px 382px #fff, 1174px 601px #fff, 141px 507px #fff,
        1301px 1502px #fff, 797px 1967px #fff, 206px 1014px #fff,
        960px 383px #fff, 1256px 1854px #fff, 200px 1145px #fff,
        681px 432px #fff, 966px 1954px #fff, 1271px 1536px #fff,
        1712px 1917px #fff, 996px 1606px #fff, 748px 945px #fff,
        1790px 1522px #fff, 1647px 152px #fff;
    }

    #stars3 {
      width: 3px;
      height: 3px;
      background: transparent;
      box-shadow: 1443px 501px #fff, 1393px 654px #fff, 491px 884px #fff,
        938px 1463px #fff, 658px 1708px #fff, 746px 758px #fff, 4px 654px #fff,
        1135px 1497px #fff, 1015px 1642px #fff, 1353px 1121px #fff,
        431px 1758px #fff, 405px 835px #fff, 621px 1293px #fff,
        955px 1267px #fff, 1860px 1189px #fff, 1629px 1445px #fff,
        664px 1614px #fff, 368px 1839px #fff, 658px 1032px #fff,
        1134px 1336px #fff, 1166px 260px #fff, 49px 1619px #fff,
        265px 1289px #fff, 205px 609px #fff, 1216px 783px #fff, 349px 51px #fff,
        49px 1379px #fff, 952px 769px #fff, 758px 252px #fff, 1241px 430px #fff,
        138px 1748px #fff, 157px 299px #fff, 1925px 284px #fff,
        1139px 1494px #fff, 1141px 1921px #fff, 799px 159px #fff,
        1182px 288px #fff, 792px 1272px #fff, 1721px 1224px #fff,
        795px 29px #fff, 1036px 862px #fff, 1752px 581px #fff, 1385px 556px #fff,
        990px 386px #fff, 853px 1263px #fff, 932px 45px #fff, 100px 970px #fff,
        1677px 1096px #fff, 410px 1713px #fff, 442px 1846px #fff,
        1175px 697px #fff, 1237px 194px #fff, 1580px 1438px #fff,
        1329px 64px #fff, 1004px 1574px #fff, 1790px 1163px #fff,
        60px 361px #fff, 74px 339px #fff, 1692px 243px #fff, 871px 544px #fff,
        408px 886px #fff, 1251px 29px #fff, 1984px 589px #fff,
        1565px 1924px #fff, 322px 154px #fff, 121px 1490px #fff,
        1139px 357px #fff, 787px 776px #fff, 927px 1747px #fff,
        1165px 482px #fff, 326px 1356px #fff, 1471px 866px #fff, 800px 57px #fff,
        1053px 1682px #fff, 867px 142px #fff, 1675px 1991px #fff,
        129px 1641px #fff, 497px 1157px #fff, 1598px 407px #fff, 97px 567px #fff,
        1532px 710px #fff, 1938px 155px #fff, 653px 1242px #fff,
        1573px 939px #fff, 1429px 1318px #fff, 278px 1416px #fff,
        838px 541px #fff, 225px 1184px #fff, 806px 340px #fff, 195px 214px #fff,
        1807px 633px #fff, 1505px 1342px #fff, 338px 591px #fff,
        593px 614px #fff, 263px 1193px #fff, 1748px 593px #fff, 893px 142px #fff,
        803px 1310px #fff, 1916px 59px #fff, 251px 1777px #fff;
      animation: animStar 150s linear infinite;
    }
    #stars3:after {
      content: " ";
      position: absolute;
      top: 1000px;
      width: 3px;
      height: 3px;
      background: transparent;
      box-shadow: 1443px 501px #fff, 1393px 654px #fff, 491px 884px #fff,
        938px 1463px #fff, 658px 1708px #fff, 746px 758px #fff, 4px 654px #fff,
        1135px 1497px #fff, 1015px 1642px #fff, 1353px 1121px #fff,
        431px 1758px #fff, 405px 835px #fff, 621px 1293px #fff,
        955px 1267px #fff, 1860px 1189px #fff, 1629px 1445px #fff,
        664px 1614px #fff, 368px 1839px #fff, 658px 1032px #fff,
        1134px 1336px #fff, 1166px 260px #fff, 49px 1619px #fff,
        265px 1289px #fff, 205px 609px #fff, 1216px 783px #fff, 349px 51px #fff,
        49px 1379px #fff, 952px 769px #fff, 758px 252px #fff, 1241px 430px #fff,
        138px 1748px #fff, 157px 299px #fff, 1925px 284px #fff,
        1139px 1494px #fff, 1141px 1921px #fff, 799px 159px #fff,
        1182px 288px #fff, 792px 1272px #fff, 1721px 1224px #fff,
        795px 29px #fff, 1036px 862px #fff, 1752px 581px #fff, 1385px 556px #fff,
        990px 386px #fff, 853px 1263px #fff, 932px 45px #fff, 100px 970px #fff,
        1677px 1096px #fff, 410px 1713px #fff, 442px 1846px #fff,
        1175px 697px #fff, 1237px 194px #fff, 1580px 1438px #fff,
        1329px 64px #fff, 1004px 1574px #fff, 1790px 1163px #fff,
        60px 361px #fff, 74px 339px #fff, 1692px 243px #fff, 871px 544px #fff,
        408px 886px #fff, 1251px 29px #fff, 1984px 589px #fff,
        1565px 1924px #fff, 322px 154px #fff, 121px 1490px #fff,
        1139px 357px #fff, 787px 776px #fff, 927px 1747px #fff,
        1165px 482px #fff, 326px 1356px #fff, 1471px 866px #fff, 800px 57px #fff,
        1053px 1682px #fff, 867px 142px #fff, 1675px 1991px #fff,
        129px 1641px #fff, 497px 1157px #fff, 1598px 407px #fff, 97px 567px #fff,
        1532px 710px #fff, 1938px 155px #fff, 653px 1242px #fff,
        1573px 939px #fff, 1429px 1318px #fff, 278px 1416px #fff,
        838px 541px #fff, 225px 1184px #fff, 806px 340px #fff, 195px 214px #fff,
        1807px 633px #fff, 1505px 1342px #fff, 338px 591px #fff,
        593px 614px #fff, 263px 1193px #fff, 1748px 593px #fff, 893px 142px #fff,
        803px 1310px #fff, 1916px 59px #fff, 251px 1777px #fff;
    }

    @keyframes animStar {
      from {
        transform: translateY(0px);
      }
      to {
        transform: translateY(-1000px);
      }
    }

    /******/
    .title {
      position: absolute;
      z-index: 1;
      top: 25%;
      left: 35%;
      font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
      font-size: 72px;
      font-weight: 800;
      //opacity: 0.4;
      display: flex;
      flex-direction: column;
      justify-content: center;
      //text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }
    .moon img {
      position: absolute;
      top: 42px;
      right: 25px;
      height: 200px;
      z-index: 1;
    }
    .astronaut img {
      position: absolute;
      top: 50%;
      left: 20%;
      height: 300px;
      z-index: 1;
      animation: float 4s ease-in-out infinite;
    }

    .planet-1 img {
      position: absolute;
      top: 10%;
      left: 20%;
      height: 300px;
      z-index: 1;
    }

    .earth img {
      position: absolute;
      bottom: 10%;
      right: 4%;
      height: 400px;
      z-index: 1;
    }
  }
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-30px);
  }
  100% {
    transform: translatey(0px);
  }
}
