.mars {
  .wrapper {
    position: relative;
    .ufo img {
      margin-top: 100px;
      position: absolute;
      left: 40%;
      height: 400px;
      animation: float-y 4s ease-in-out infinite;
    }

    .alien img {
      margin-top: 100px;
      position: absolute;
      left: 46%;
      height: 200px;
      animation: float-x 4s ease-in-out infinite;
    }
  }
}

@keyframes float-y {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}

@keyframes float-x {
  0% {
    transform: translatex(0px);
  }
  50% {
    transform: translatex(-20px);
  }
  100% {
    transform: translatex(0px);
  }
}

@keyframes float-y-min {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-10px);
  }
  100% {
    transform: translatey(0px);
  }
}

@keyframes float-x-min {
  0% {
    transform: translatex(0px);
  }
  50% {
    transform: translatex(-10px);
  }
  100% {
    transform: translatex(0px);
  }
}

/*Media Queries*/
/*Phones */
@media only screen and (max-width: 600px) {
  .mars {
    // padding-top: 380px;
    .wrapper {
      .mars img {
        height: 100%;
      }

      .ufo img {
        margin-top: 0;
        top: 50px;
        z-index: 1;
        height: 100px;
        animation: float-y-min 4s ease-in-out infinite;
      }

      .alien img {
        margin-top: 0;
        top: 100px;
        z-index: 2;
        height: 50px;
        animation: float-x-min 4s ease-in-out infinite;
      }
    }
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 610px) {
  .mars {
    // padding-top: 380px;
    .wrapper {
      .mars img {
        height: 100%;
      }

      .ufo img {
        margin-top: 0;
        top: 200px;
        z-index: 1;
        height: 100px;
        animation: float-y-min 4s ease-in-out infinite;
      }

      .alien img {
        margin-top: 0;
        top: 260px;
        z-index: 2;
        height: 50px;
        animation: float-x-min 4s ease-in-out infinite;
      }
    }
  }
}

/* Medium devices (landscape tablets, 768px and up) */
// @media only screen and (min-width: 768px) {
// }

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .mars {
    .wrapper {
      .mars img {
        height: 100%;
      }

      .ufo img {
        top: 200px;
        height: 300px;
      }

      .alien img {
        top: 360px;
        height: 150px;
      }
    }
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .mars {
    .wrapper {
      .mars img {
        height: 100%;
      }

      .ufo img {
        top: 300px;
        height: 400px;
      }

      .alien img {
        top: 488px;
        height: 200px;
      }
    }
  }
}
