<div class="skills">
  <div class="wrapper">
    <span class="counter" *ngIf="start">{{ counter }}</span>
    <button class="btn btn-danger" (click)="launchRocket()">Launch Me</button>
    <div
      class="{{ launch ? 'launch-me' : '' }} rocket"
      (click)="launchRocket()"
    >
      <img src="../../assets/rocket.svg" alt="" />
    </div>
    <div class="container">
      <div class="body">
        <div class="tech">
          <div class="title-big">
            Skills.
          </div>
          <div class="title">
            Front-end
          </div>
          HTML5/CSS3. Javascript ES6. Angular. ReactJS. Rails. jQuery. SASS.
          Boostrap. PrimeNG. Angular Material. NPM. NgRx, RxJS. Redux.
        </div>
        <div class="tech col-sm-12">
          <div class="title">
            Back-end
          </div>
          NodeJS. JAVA. Ruby. SQL.
        </div>
        <div class="tech col-sm-12">
          <div class="title">
            Databases
          </div>
          Firebase. Firestore. MongoDB. DynamoDB. PL/SQL. MySQL.
        </div>
        <div class="tech col-sm-12">
          <div class="title">
            CMS
          </div>
          Contenful. ButterCMS. Wordpress. CloudCMS. MURA.
        </div>
        <div class="tech col-sm-12">
          <div class="title">
            Cloud
          </div>
          AWS (API Gateway, Lambda, S3, Cloud Watch , Rekognition, IAM).
          Firebase.
        </div>
        <div class="tech col-sm-12">
          <div class="title">
            E-commerce
          </div>
          Shopify. Woocommerce.
        </div>
        <div class="tech col-sm-12">
          <div class="title">
            Mobile
          </div>
          Ionic.
        </div>
        <div class="tech col-sm-12">
          <div class="title">
            Other
          </div>
          Agile. Git. REST. API. Graphic Design. Marketing. Branding.
        </div>
      </div>
    </div>
    <div class="comet">
      <img src="../../assets/comet.svg" alt="" />
    </div>
  </div>
</div>
