.skills {
  padding: 42px 0;
  position: relative;

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .body {
        width: 50%;
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;

        .tech {
          padding: 0 42px;

          .title-big {
            color: #fff;
            font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
            font-size: 72px;
            font-weight: 800;
          }

          .title {
            color: #fff;
            font-size: 40px;
            font-weight: 800;
          }
        }
      }
    }

    .rocket img {
      height: 500px;
      animation: rocket 2s ease-in-out infinite;
    }

    .comet img {
      position: absolute;
      left: 0;
      height: 200px;
      animation: comet 10s ease-in-out infinite;
    }
  }
}

@keyframes rocket {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(20px);
  }
  100% {
    transform: translatey(0px);
  }
}

@keyframes comet {
  0% {
    transform: translatey(-1000px);
  }
  100% {
    transform: translatex(1100%);
  }
}

/*Media Queries*/

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 992px) {
  .skills {
    height: 100%;
    // padding-top: 380px;
    .wrapper {
      .container {
        .body {
          width: 100%;
          text-align: center;
          margin: 0 16px;
          .tech {
            .title,
            .title-big {
              font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
              font-size: 42px;
              font-weight: 600;
            }
          }
        }
      }

      .rocket img {
        height: 200px;
      }

      .comet img {
        height: 75px;
      }
    }
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
