<div class="expirience">
  <div class="wrapper">
    <div class="walker">
      <img src="../../assets/walker.svg" alt="" />
    </div>
    <div class="mars">
      <img src="../../assets/planet3.svg" alt="" />
    </div>
    <div class="container">
      <div class="icons">
        <a href="../../assets/2019Resume_PatricioVargas_spring.docx" download
          ><i class="fas fa-file-download"></i
        ></a>
        <a
          target="_blank"
          href="https://stackoverflow.com/users/5262452/patricio-vargas"
        >
          <i class="fab fa-stack-overflow"></i>
        </a>
        <a target="_blank" href="https://www.behance.net/wearetamoe93f">
          <i class="fab fa-behance"></i>
        </a>
        <a target="_blank" href="https://www.npmjs.com/package/comgen">
          <i class="fab fa-npm"></i>
        </a>
        <a
          target="_blank"
          href="https://www.linkedin.com/in/patricio-vargas-0502b6127/"
        >
          <i class="fab fa-linkedin-in"></i>
        </a>
        <a target="_blank" href="https://github.com/devpato">
          <i class="fab fa-github"></i>
        </a>
        <a target="_blank" href="">
          <i class="fas fa-trophy"></i>
        </a>
      </div>
    </div>
  </div>
</div>
