.expirience {
  .wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
      text-align: left;
    }

    .walker img {
      height: 200px;
    }
    .mars img {
      height: 500px;
      animation: spin 10s linear infinite;
    }

    .icons {
      margin-top: 42px;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      a {
        color: #fff;
        i {
          cursor: pointer;
          font-size: 42px;
          &.fa {
            &-file-download:hover {
              color: #00ad45;
            }
            &-stack-overflow:hover {
              color: #f48024;
            }
            &-behance:hover {
              color: #1769ff;
            }
            &-npm:hover {
              color: rgb(168, 8, 8);
            }
            &-linkedin-in:hover {
              color: lightblue;
            }
            &-trophy:hover {
              color: goldenrod;
            }
            &-github:hover {
              color: #000;
            }
          }
        }
      }
    }
  }
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*Media Queries*/

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 992px) {
  .expirience {
    height: 100%;
    // padding-top: 380px;
    .wrapper {
      .icons {
        a {
          i {
            font-size: 32px;
          }
        }
      }

      .walker img {
        height: 100px;
      }

      .mars img {
        height: 200px;
      }
    }
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
